/***===== GLOBAL STYLING =====***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

/***===== APP STYLING =====***/
.App {
  border: solid 3px black;
  padding: 5px;
  display: flex;
  margin: 15px;
  gap: 10px;
  border-radius: 8px;
}
/***===== END APP STYLING =====***/

/***===== HOMEPAGE STYLING =====***/
.HomePage {
  border: solid 2px grey;
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
/***===== END HOMEPAGE STYLING =====***/

/***===== EMPLOYEE PAGE STYLING =====***/
.EmployeePage {
  border: solid 2px grey;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
}

.card {
  border-bottom: 2px solid gray;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;
}

.EmployeeOverview {
  border-top: solid 2px grey;
  margin-top: 3.5em;
  display: flex;
  height: 8em;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.EmployeeOverview img {
  height: 6em;
  width: 6em;
  margin-right: 1.5em;
}

.EmployeeEmail {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.EmployeeOffice,
.EmployeeMobile,
.EmployeeSMS,
.EmployeeEmail {
  height: 5em;
}
/***===== END EMPLOYEE PAGE STYLING =====***/

/***===== HEADER STYLING =====***/
.Header {
  border: solid 2px grey;
  height: 3.5em;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
/***===== END HEADER STYLING =====***/

/***===== SEARCH BAR STYLING =====***/
.SearchBar {
  border: solid 2px grey;
  border-radius: 8px;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  height: 2.5em;
  width: 20em;
  border-radius: 8px;
  padding: 1em;
}
/***===== END SEARCH BAR STYLING =====***/

/***===== EMPLOYEE LIST STYLING =====***/
.EmployeeList {
  border: solid 2px grey;
  border-radius: 8px;
}
/***===== END EMPLOYEE LIST STYLING =====***/

/***===== EMPLOYEE LIST ITEM STYLING =====***/
.EmployeeListItem {
  display: flex;
  justify-items: center;
  align-items: center;
}

img {
  height: 5.5em;
  width: 5.5em;
  border-radius: 50%;
}

.EmployeeListItem img {
  margin: 10px 40px 10px 20px;
}
/***===== END EMPLOYEE LIST ITEM STYLING =====***/
